<main>
    <h1>Hello world</h1>
    <h2>second</h2>
    <h3>ww12swasd</h3>

    <hr>

    <div class="display-1 text-center">Hello world</div>
    <div class="display-3 text-end">second</div>
    <div class="display-6">ww12swasd</div>

    <hr>
    <span class="text-muted">додатковий текст</span>

    <hr>
    <h1 class="text-uppercase">Hello world</h1>
    <h2 class="text-lowercase">SECond</h2>
    <h3 class="text-capitalize">ww12sss two sd</h3>



    <hr>

    <button class="btn btn-primary">TEst button</button>


    <hr>


    <p class="text-primary"> my texttttt fadsdd asd ads

    </p>


    <hr>

    <button class="btn btn-outline-primary btn-lg">My button</button>
    <button class="btn btn-outline-primary btn-sm">My button</button>

    <hr>


    <div class="card">
        <div class="card-body">
            this is content
        </div>
    </div>
</main>