<body>
    <div class="ps-2">
        {{#with header}}
        <h1>{{title}}</h1>
        <div>
            <span class="fs-4">
                {{description}}
            </span>
        </div>
        {{/with}}

    </div>
    <div>
        <ul>
            {{#each page}}
            <div class="mt-2">
                <a href="{{href}}" target="_blank" class="btn btn-primary">{{text}}</a>
            </div>
            {{/each}}
        </ul>
    </div>
</body>