<div class="row mt-2">
    <div class="card m-1 mb-5 p-3">
        {{#with blockname}}
        <div class="row">
            <div class="col-10">
                <span class="fs-3 p-2"><strong>{{name}} {{surname}}</strong></span>
            </div>
            <div class="col-2 ">
                <span class="fs-4">{{nameProject}}</span>
            </div>
        </div>
        {{/with}}

    </div>
</div>