<div class="col-6 ps-3 pt-1 pb-1">
    <div>
        <label class="form-label col-10 m-0">{{label}}</label>
        <input class="form control" placeholder="{{placeholder}}">
        <div class="form-text text-danger"> {{caption}}
        </div>
    </div>
</div>