<section>
    {{#with service}}
    <div class="card text-bg-success">

        <div class="card-body  text-center">
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}
            </p>
            {{#each buttons}}
            <a href="{{link}}" class="btn btn-light" role="button">{{text}}</a>
            {{/each}}
        </div>


    </div>
    {{/with}}

</section>